* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
}

.header h1 {
  font-size: 32px;
  margin-bottom: 8px;
  color: white;
}


.container {
  display: flex;
  flex-direction: column;
  
}

.header {
  background-color:#0056b3;
  padding: 32px 16px;
  text-align: center;
  width: 100%;
}

.header h1 {
  font-size: 32px;
  margin-bottom: 8px;
  color: white;
}

.header p {
  font-size: 25px;
  color: white;

}

.main-content {
  padding: 0px 0px; 
  margin: 0 auto;
}

.about-section {
  font-display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 60px;
}

.about-imagem {
  width: 100%;
  max-width: 100%;
  height: 350px; 
  overflow: hidden;
  margin-bottom: 25px; 
}

.about-imagem img {
  display: flex;
  height: 300px;
  object-fit: cover;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px 10px 10x;
  margin-top: 24px;
  font-size: 24px;
  text-align: justify;

}

.cards-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  

}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 19px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-body h2 {
  font-size: 16px;
  color: #0056b3;
}

.card-body p {
  font-size: 12px;
  line-height: 1.4;
  color: #555;
  text-align:justify;
}

.categories-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 40px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.category-card {
  background-color: #ffffff;
  border-radius: 12px;
  width: 100%;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.category-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.category-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.category-title {
  font-weight: bold;
  color: #0056b3;
  margin: 0;
}

.btn-saiba-mais {
  background-color: #0056b3;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 40px;
}

.form form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form h2 {
  font-size: 26px;
}

.form label {
  font-size: 12px;
}

.botao-forms {
  background-color: #0056b3;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 2px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 15px;
  }
  
  .cards-grid {
    flex-direction: column;
    align-items: center;
  }
}